note-single{
    cursor: pointer;

    h6 {
        margin: 0;
        text-align: center;

        &.unnamed{
            color: #888;
        }

        &, + input{
            font-size: 1.0625rem;
            font-weight: 600;
            line-height: 1.2;
            border: 0;
            width: 100%;
            padding: 0;
            text-align: center;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    > div{
        > div{
            display: flex;
        }
    }

    input:checked + input{
        text-decoration: line-through;
        color: #888;
    }

    input[type=checkbox] + input{
        border: 0;
        border-bottom: 1px solid transparent;
        flex-grow: 1;
        text-overflow: ellipsis;

        &:focus{
            border-bottom-color: #888;
        }
    }

    &:not(.active){
        button.cancel{
            display: none;
        }

        input{
            pointer-events: none;
        }

        h6 + input{
            display: none;
        }
    }

    &.active{
        cursor: unset;
        
        button.delete,
        h6{
            display: none;
        }
    }

    button.cancel{
        position: absolute;
        top: 0;
        left: -18px;
    }

    button.delete{
        position: absolute;
        bottom: 12px;
        right: 12px;

        &:hover,
        &:focus{
            color: red;
        }
    }
}
