note-list{
    --padding: 54px;
    --padding-bottom: 52px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: var(--padding);
    padding: var(--padding);

    &.has-active{
        grid-template: auto / minmax(200px, 600px);
        justify-content: center;

        > *:not(.active){
            display: none;
        }
    }

    > add-button{
        min-height: calc(var(--height) + var(--padding) /* blk-material */ + var(--padding-bottom) /* any note-list child */);
        > div > i{
            font-size: 48px !important;
        }
    }

    > * {
        --height: 80px;
        min-height: var(--height);
    }
}
